<app-calendar-header
  [dateToday]="dateToday"
  (changeMonth)="changeMonth($event)"
  (openAddReminder)="addReminder()"
></app-calendar-header>

<div class="p-4 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 gap-4">
  <ng-container *ngFor="let day of daysOffset">
    <app-calendar-day [dayInCalendar]="day" class="hidden lg:inline-block" [disabled]="true"></app-calendar-day>
  </ng-container>
  <ng-container *ngFor="let day of monthDays">
    <app-calendar-day
      [dayInCalendar]="day"
      [today]="currentDay"
      [currentMonth]="currentMonth"
      [currentYear]="currentYear"
      [MonthReminders]="monthReminders"
      (reminderEdit)="editReminder($event)"
    ></app-calendar-day>
  </ng-container>
</div>

<footer class="p-4">
  by Rods
</footer>